<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Fatal"
      internalLogFile="internal-nlog.txt">
  <!--internal-nlog 记录了NLog的启动及加载config的信息。-->
  <!--internalLogFile NLog内部日志文件位置
  Trace|Debug|Info|Warn|Error|Fatal   None  关闭
  -->
  <!--定义日志的输出目标-->
  <targets>
    <!--写入文件-->
    <target
     xsi:type="File"
     name="DebugFile"
     fileName="${basedir}\Logs\Debug\${shortdate}.log"
     layout="日志时间：${longdate}${newline}日志来源：${callsite}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}" >
    </target>

    <target
      xsi:type="File"
      name="InfoFile"
      fileName="${basedir}\Logs\Info\${shortdate}.log"
      layout="日志时间：${longdate}${newline}日志来源：${callsite}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}" >
    </target>

    <target
      xsi:type="File"
      name="ErrorFile"
      fileName="${basedir}\Logs\Error\${shortdate}.log"
      layout="日志时间：${longdate}${newline}日志来源：${callsite}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}" >
    </target>

    <!--nlog-all 记录了所有日志  -->
    <target xsi:type="File" name="allfile" fileName="${basedir}\logs\nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <!-- nlog-own 记录了我们自定义的日志another file log, only own logs. Uses some ASP.NET core renderers-->
    <target xsi:type="File" name="ownFile-web" fileName="${basedir}\logs\nlog-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}" />

  </targets>
  <!--定义对日志信息进行路由的规则-->
  <rules>
    <logger name="*" minlevel="Debug" maxLevel="Debug" writeTo="DebugFile" />
    <logger name="*" minlevel="Info" maxLevel="Info" writeTo="InfoFile" />
    <logger name="*" minlevel="Error" maxLevel="Error" writeTo="ErrorFile" />
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <!--BlackHole-->
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>

  <!--日志级别大概分为6 个， 有低到高
  logger.LogTrace();
  logger.LogDebug();
  logger.LogInformation();
  logger.LogWarning();
  logger.LogError();
  logger.LogCritical();
  -->
  <!--写入数据库-->
  <!--
  <target xsi:type="Database" name="Database"
          connectionString="Data Source=.;Initial Catalog=MyDb;Persist Security Info=True;User ID=sa;Password=123456"
          commandText="insert into NLog_Log([CreateOn],[Origin],[LogLevel], [Message], [Exception],[StackTrace],[Desc]) values (getdate(), @origin, @logLevel, @message,@exception, @stackTrace,@desc)">
    -->
  <!--日志来源-->
  <!--
    <parameter name="@origin" layout="${callsite}"/>
    -->
  <!--日志等级-->
  <!--
    <parameter name="@logLevel" layout="${level}"/>
    -->
  <!--日志消息-->
  <!--
    <parameter name="@message" layout="${message}"/>
    -->
  <!--异常信息-->
  <!--
    <parameter name="@exception" layout="${exception}" />
    -->
  <!--堆栈信息-->
  <!--
    <parameter name="@stackTrace" layout="${stacktrace}"/>
    -->
  <!--自定义消息内容-->
  <!--
    <parameter name="@desc" layout="${event-context:item=Desc}"/>
  </target> 
  <rules>
    <logger name="DbLogger" levels="Trace,Debug,Info,Error"  writeTo="Database"/>
  </rules>-->

</nlog>