<?xml version="1.0" encoding="utf-8" ?>
<!--
	!!!MODIFY WITH CAUTION!!!
	This file configures how url for each page will be rendered.
	Element:
		<stringResource> has two attributes: 
			stringAlias:function model name+"_"+user control id or div id +"_"+control id+"_"+"property id"	
			(example:Footer_FootNav_ShoppingCart_Text)
			text: property value	
DataDicDetailIValue	DataDicDetailIFatherID	DataDicDetailID
-->
<webParams xmlns="http://www.VOCs.com/framework/web"
			 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--登录公司ID-->
  <params key="CurrentCompanyID" value="1"/>
  <!--员工生日和联系人生日-->
  <params key="SystemDefaultTime" value="0001-1-1 0:00:00"/> 
  <!--一级代理-->
  <params key="CustomerFirstProxyLevelID" value="70"/>
  <!--新建客户-->
  <params key="CustomerPhaseNewCreate" value="10"/>
  <!-- 基本信息客户-->
  <params key="CustomerPhaseBaseInfo" value="20"/>
  <!-- 完整信息客户-->
  <params key="CustomerFullInfo" value="30"/>
  <!-- 意向客户-->
  <params key="SaleCustomerInfo" value="40"/>
  <!-- 进货客户-->
  <params key="BuyCustomerInfo" value="50"/>
  <!-- 下滑客户-->
  <params key="DownCustomerInfo" value="55"/>
</webParams>
